#######################
#   REQUIRED ENV:     #
#   - MANAGER_HOST    #
#   - CATCHALL_HOST   #
#######################

services:
  # URL: https://${CATCHALL_HOST}
  web:
    image: nginx:alpine
    container_name: catchall-host
    restart: unless-stopped
    volumes:
      - ./caught:/usr/share/nginx/html:ro                       # nginx file access
      - ./conf/:/etc/nginx/conf.d:ro   # nginx configs
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      # HTTP -> HTTPS Redirect
      - "traefik.http.routers.catchall.entrypoints=http"
      - "traefik.http.routers.catchall.rule=Host(`${CATCHALL_HOST}`)"
      - "traefik.http.middlewares.catchall-https.redirectscheme.scheme=https"
      - "traefik.http.routers.catchall.middlewares=catchall-https"
      # HTTPS Router
      - "traefik.http.routers.catchall-secure.entrypoints=https"
      - "traefik.http.routers.catchall-secure.rule=Host(`${CATCHALL_HOST}`)"
      - "traefik.http.routers.catchall-secure.tls=true"
      - "traefik.http.services.catchall.loadbalancer.server.port=80" # Nginx internal port
      - "traefik.docker.network=proxy"

  # URL: https://${MANAGER_HOST}/
  files:
    image: filebrowser/filebrowser:s6
    container_name: catchall-manager
    restart: unless-stopped
    volumes:
      - ./caught:/srv                                           # filebrowser file access
      - ./filebrowser_data:/data                                # filebrowser database
    environment:
      - FB_DATABASE=/data/database.db
      - FB_ROOT=/srv
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      # HTTP -> HTTPS Redirect
      - "traefik.http.routers.filebrowser.entrypoints=http"
      - "traefik.http.routers.filebrowser.rule=Host(`${MANAGER_HOST}`)"
      - "traefik.http.middlewares.fb-https.redirectscheme.scheme=https"
      - "traefik.http.routers.filebrowser.middlewares=fb-https"
      # HTTPS Router
      - "traefik.http.routers.filebrowser-secure.entrypoints=https"
      - "traefik.http.routers.filebrowser-secure.rule=Host(`${MANAGER_HOST}`)"
      - "traefik.http.routers.filebrowser-secure.tls=true"
      - "traefik.http.services.filebrowser.loadbalancer.server.port=80" # FileBrowser internal port
      - "traefik.docker.network=proxy"

networks:
  proxy:
    external: true